* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
  }

    .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
    padding: 1.5rem 2rem;
  }
  
  .logo {
    font-size: 1.75rem;
    font-weight: bold;
    color: #c2410c;
    text-decoration: none;
    line-height: 1;
  }

  .nav-logo {
    justify-content: flex-start;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .nav-links a {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 5rem;
    text-decoration: none;
    color: #504c4cde;
  }
  
  .nav-links a:hover {
    color: #c2410c;
  }

  .hero-section {
    background-image: url(https://res.cloudinary.com/dkirrobg9/image/upload/v1744660369/Mckelvey-glassblowing_vy3jxa.png);
    width: 100%;
    height: 45vh;  
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font: 2.75rem / 1 "Poppins Bold", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0 auto;
    margin-left: 15%;
    /* gap: 2rem; */
    padding: 2rem;
  }

  .all-topics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgba(249, 46, 0, 0), #dededb);
    gap: 2rem;
    flex-wrap: nowrap;
    padding: 0rem;
    margin-left: 0rem;
    padding-left: 0;
  }

  .topic-section {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    gap: 2rem;
    width: 98vw;
    margin-bottom: 4rem;
    /* border: 2px solid black; */
    border-radius: 4px;
    padding: 1rem;
    /* background-color: rosybrown; */
    box-shadow: 1rem black;
  }

  .topic-section video {
    width: auto;
    height: auto;
    box-shadow: #333;
  }
  .topic-section iframe {
    width: auto;
    height: auto;
    box-shadow: #333;
  }

  .iframe-div {
    position: relative;
    overflow: hidden;
    max-width: 100%;
  }
  .ifram-div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: #333;
  }

  .topic-text {
    flex-grow: 1;
    text-align: left;
  }